*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: auto;
}
a:hover{
    color: #b1f33d;
}
a{
    text-decoration: none;
    color: black;
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row; */
}
ul li{
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.judul-main{
    padding: 100px;
    padding-left: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #F2F1F1;
    /* padding-left: auto;
    padding-right: auto; */
    /* margin-right: auto; */
}
.title{
    padding-right: 250px;
}
.btn-belanja-title{
    background-color: #6C932E;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
    border: none;
}
.btn-belanja-title:hover{
    background-color: #A0D14F;
}
.img-judul{
    width: 100%;
}
.card-product{
    background-color: #666666;
    margin-top: 0px;
}
.card-product h2{
    text-align: center;
    padding-top: 30px;
}
.img-product{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pelayanan-back{
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.div-pelayanan{
    background-color: #423E3E;
    color: #FFFFFF;
    width:700px;
    height: 100px;
    /* margin-left: auto;
    margin-right: auto; */
    border: none;
    border-radius: 5px;
}
.div-pelayanan:hover{
    background-color: #1E1E1D;
}
.div-pelayanan h3{
    text-align: center;
    padding-top: 20px;
}
.div-pelayanan p{
    text-align: center;
}
.pelayanan{
    gap: 10px;
}
.card-belanja{
    /* display: flex; */
    background-color: #D9D9D9;
    padding: 30px;
    /* gap: 50px; */
}
.div-belanja{
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    margin-top: 15px;
    /* pa-bottom: 50px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.div-belanja:hover{
    background-color: #C6E494;
}
.div-belanja-paling-atas{
    margin-top: 50px;
}
.div-belanja-paling-bawah{
    margin-bottom: 50px;
}
.basa-basi{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #F2F1F1;
}
.btn-belanja-basa-basi{
    background-color: #6C932E;
    color: #FFFFFF;
    height: 45px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.btn-belanja-basa-basi:hover{
    background-color: #A0D14F;
}
footer{
    background-color: #F2F1F1;
    height: 100px;
    margin-top: 0px;
}
/* hr{
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 30px; 
} */
footer p{
    padding-bottom: 0px;
    padding-left: 30px;
    text-align: center;
}