*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: auto;
    height: 500px;
    background-color: #F2F1F1;
}
.container h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #6C932E;
}
.kotak{
    width: 1000px;
    /* height: 170px; */
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background-color: #FFFFFF;
    padding: 50px;
}
div{
    background-color: #F2F1F1;
    width: 250px;
    box-shadow: blue;
    border-radius: 3px;
}
.fx:hover{
    background-color: #C6E494;
}
div p{
    text-align: center;
}