.nav{
    /* background-color: #EEE7E7; */
    /* border-radius: 5px; */
}
a:hover{
    color: #b1f33d;
}
a{
    text-decoration: none;
    color: black;
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row; */
}
ul li{
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.judul-main{
    padding-top: 100px;
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #EEE7E7;
    padding-bottom: 100px;
}
.btn-belanja{
    background-color: #b1f33d;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn-belanja:hover{
    background-color: aqua;
}
.img-judul{
    width: 50%;
}