*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F1F1;
}
h1{
    text-align: center;
    color: #6C932E;
    padding-top: 50px;
}
.container-card{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-product{
    background-color: #FFFFFF;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 20px;
}
.card-product:hover{
    background-color: #C6E494;
}
.name-price{
    background-color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
    background-color:transparent;
}
h3{
    background-color: #FFFFFF;
    text-align: center;
    background-color: transparent;
}
p{
    background-color: #FFFFFF;
    text-align: center;
    background-color: transparent;
}
del{
    background-color: #FFFFFF;
    color: #949494;
    background-color: transparent;
}
/* h3:hover{
    background-color: #C6E494;
}
p:hover{
    background-color: #C6E494;
}
del:hover{
    background-color: #C6E494;
} */
footer{
    background-color: #F2F1F1;
}
/* footer hr{
    padding-top: 30px;
} */
footer p{
    background-color: #F2F1F1;
    padding-left: 30px;
}